@model  digital_School.ViewModel.tbl_ClientorSchoorComplainValidation

@{
    ViewBag.Title = "ClientComplainReply";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}

<script src="~/FrontEnd/ckeditor/ckeditor.js"></script>


<div class="content-wrapper" style="margin-top:50px;">
    <div class="card card-info">
        <div class="card-header ">
            <h3 class="card-title ">Announcement Form</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        @using (Html.BeginForm("ClientComplainReply", "SchoolAndClientComplain", FormMethod.Post, new { @id = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>

            <form class="form-horizontal">
                <div class="card-body">


                    <div class="form-group row">
                        <div class="col-md-1"></div>
                        <label for="inputEmail3" class="col-md-3 col-lg-2 col-form-label">Reply</label>
                        <div class="col-md-7 col-lg-8">
                            @Html.TextAreaFor(model => model.replymsg, 10, 40, htmlAttributes: new { style = "width: 100%; max-width: 100%;", placeholder = @Html.DisplayName("Enter Complain") })
                            @Html.ValidationMessageFor(model => model.replymsg, "", new { @class = "text-danger" })


                        </div>


                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-6">
                            <button type="submit" class="btn btn-info float-right">Reply</button>
                        </div>
                        <div class="col-md-6 col-sm-6 col-6">
                            <button type="submit" class="btn btn-default float-left ">Cancel</button>
                        </div>
                    </div>

                </div>
                <!-- /.card-footer -->
            </form>
        }
    </div>


</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">

         window.onload = function () {
          alert("@ViewBag.Message");
          };
    </script>

}

