@model  digital_School.Models.ManualTest
@{
    ViewBag.Title = "ManualTest";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}




<div class="content-wrapper" style="margin-top:50px;">
    <div class="card card-info">
        <div class="card-header ">
            <h3 class="card-title ">Update Test</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        @using (Html.BeginForm("updateManualTest", "ManualTest", FormMethod.Post, new { @id = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>

            <form class="form-horizontal">
                <div class="card-body">

               


















































                    <div class="form-group row">
                        <div class="col-md-1"></div>
                        <label for="inputEmail3" class="col-md-3 col-lg-2 col-form-label">TestFile</label>
                        <div class="col-md-7 col-lg-8">

                            @Html.HiddenFor(model => model.TestUrl)
                            <input type="file" name="file" id="file" />

                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-1"></div>
                        <label for="inputPassword3" class="col-md-3 col-lg-2 col-form-label">Duration</label>
                        <div class="col-md-7 col-lg-8">
                            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control input-sm", @type = "text", placeholder = @Html.DisplayName("Enter Duration") } })
                        </div>
                    </div>


                </div>
                @Html.HiddenFor(model => model.CourseId)
                @Html.HiddenFor(model => model.ClassId)
                @Html.HiddenFor(model => model.SchoolId)
                @Html.HiddenFor(model => model.CreatedDate)
                @Html.HiddenFor(model => model.UserId)
                @Html.HiddenFor(model => model.TestId)

                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-6">
                            <button type="submit" class="btn btn-info float-right">Update</button>
                        </div>
                        <div class="col-md-6 col-sm-6 col-6">
                            <button type="submit" class="btn btn-default float-left ">Cancel</button>
                        </div>
                    </div>

                </div>
                <!-- /.card-footer -->
            </form>
        }
    </div>

</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">

         window.onload = function () {
          alert("@ViewBag.Message");
          };
    </script>

}
