@model digital_School.ViewModel.tbl_ClassValidation
@{
    ViewBag.Title = "Add Class";
    Layout = "~/Areas/Principle/Views/Shared/_Layout.cshtml";

}


<script src="~/FrontEnd/ckeditor/ckeditor.js"></script>


<div class="content-wrapper" style="margin-top:50px;">
    <div class="card card-info">
        <div class="card-header ">
            <h3 class="card-title ">Update Class</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        @using (Html.BeginForm("addClass", "Class", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>

            <form class="form-horizontal">
                <div class="card-body">



                    <div class="form-group row">
                        <div class="col-md-1"></div>
                        <label for="inputEmail3" class="col-md-2 col-lg-1 col-form-label">Name</label>
                        <div class="col-md-7 col-lg-8">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = @Html.DisplayName("Enter Class Name") } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                            @*<input type="email" class="form-control" id="inputEmail3" placeholder="Email">*@
                        </div>

                    </div>


                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-6">
                            <button type="submit" class="btn btn-info float-right">Add</button>
                        </div>
                        <div class="col-md-6 col-sm-6 col-6">
                            <button type="submit" class="btn btn-default float-left ">Cancel</button>
                        </div>
                    </div>

                </div>
                <!-- /.card-footer -->
            </form>
        }
    </div>


</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">

         window.onload = function () {
          alert("@ViewBag.Message");
          };
    </script>

}



